    location {{ location.route }} {
{%- if location.websocket %}
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection $connection_upgrade;
{%- endif %}
{%- for header, value in location.headers.items() %}
        proxy_set_header {{ header }} "{{ value }}";
{%- endfor %}
        proxy_pass http://{{ location.target }};
    }